<div class="articles">
<header>
  <h1><%= link_to @article.heading, @article %></h1>
  <p class="article_attribution"><%= @article.created_at.strftime("%B %d %Y") %>, by <%= link_to @article.user.name, @article.user %></p>
</header>
<article class="article_body">
  <div class="article_text">

  <%= ((RedCloth.new(@article.content)).to_html).html_safe %>
  </div><!--article_text-->
<div class="article-extras">
<% if (signed_in? && current_user.admin?) %>
  <p class="edit_article_link"><%= link_to "Edit this article", edit_article_path %></p>                  
<% end %>
</div><!--article-extras-->
</article><!--article_body-->
<% unless @article.tags.empty? %>
<div class="posted_in">  
  <p>Posted in:</p><ul class="article_tags">
    <% @article.tags.each do |tag| %>
	  <li><%= render tag %></li>
	<% end %>
	</ul>
</div><!--posted_in-->
<% end %>
<div class="comment_area">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'morningwater196'; // required: replace example with your forum shortname
	var disqus_identifier = <%= @article.id %>;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div><!--comment_area-->
</div><!--articles-->
<%= render 'layouts/sidebar' %>