<div class="user_heading"><%= gravatar_for @user %><h1><%= @user.name %></h1>
	<% unless @comments.empty? %>
	<div class="user_comments">
	<h2>Here's what <% if (signed_in? && current_user==@user) %>you've<% else %>this user's<% end %> said&hellip;</h2>
	  <ul class="bulleted">
	   <% @comments.each do |c| %>
	     <li><span class="bold"><%= c.content %></span><span class="italic"> - Posted on <%= c.created_at.strftime("%B %d %Y") %> about the article <%= link_to c.article.heading, c.article %></span></li>
	   <% end %>
	  </ul>
	</div><!--user_comments-->
	<% end %>
</div>
<div class="user_info">
<% if (signed_in? && current_user.admin?) %>
  <%= link_to "Edit this user", edit_user_path %>
<% elsif (signed_in? && current_user==@user) %>
  <p>This is you! You can <%= link_to "edit your profile", edit_user_path %> or <%= link_to "sign out", signout_path, :method => :delete %>.</p>
<% else %>
<p>This isn't you.</p>
<% end %>
</div><!--user_info-->